
.chat_list{
  display:none;
  background: url(http://subtlepatterns.com/patterns/triangular.png);
  background-size: 5%;
  height: 255px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat_list p.users{
  background-color: #effdde;
  width: 58%;
  padding: 5px;
  float: right;
  border-radius: 3px 0px 0px 3px;
  border-bottom: 2px solid #a0c6b0;
  margin: 5px 0px;
}
.chat_list p.admin{
  background-color: #ffffff;
  width: 58%;
  padding: 5px;
  float: left;
  border-radius: 0px 3px 3px 0px;
  border-bottom: 2px solid #a0c6b0;
  margin: 5px 0px;
}
.chat_list p.admin span{
  float: left;
  width: 100%;
  font-size: 11px;
  color: rgb(213, 213, 213);
}
.chat_list p.users span {
  float: right;
  width: 100%;
  font-size: 11px;
  color: rgb(213, 213, 213);
}
.chat_list p.admin b {
  float: left;
  width: 100%;
  font-size: 10px;
  color: rgb(172, 2, 2);
  font-weight: normal;
}
.chat_list_form {
  display:none
}
.phone-button p span{
  float: left;
  width: 100%;
  font-size: 11px;
  color: rgb(213, 213, 213);
}
.phone-button h3{
  margin:0
}
.form-control-custom {
  display: block;
  width: 100%;
  height: 23px;
  padding: 2px 2px;
  font-size: 9px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.condition{
  margin: 10px 0;
}
.center__block {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
}
.delete_condition {
  background: red;
  padding: 1px 6px;
  color: white;
  border-radius: 4px;
}
/*popup*/

/*end popup*/