{% extends 'bootstrap3/bootstrap3.html' %}
{% load static from staticfiles %}

{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}">
{% endblock %}


{% block bootstrap3_extra_script %}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui-sliderAccess.js' %}"></script>
<script type="text/javascript" src="{% static 'js/i18n/jquery-ui-timepicker-ru.js' %}"></script>
<script type="text/javascript" src="{% static 'js/condition.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment-with-locales.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-modal.js' %}"></script>
<script>
(function() {
    $("#id_start_at").datetimepicker({
    format: "y-m-d H:i",
        lang:'ru'
    });
    /*$(".start_at").datetimepicker({
    dateFormat: "yy-mm-dd",
    timeFormat: "hh:mm"
    });*/
})();
    </script>
    <script>



    $(function(){
        condition = new Condition();
    })
</script>
<script>
(function() {
    $('#conditionModal').modal('hide')
})();
$(function() {
    $('.delete_condition').on('click',function() {
         $($(this).parents().get(1)).remove();
    });
});
</script>

{% endblock %}