


<div  class="condition__block form-inline form-condition">
        <label class="control-label">Условия</label>
{% for order in orders %}

        {% if order.plusminus %}

        <div class="condition condition-time">
        <div class="form-group">
            <div data-type="time" class="delete_condition">X</div>
        </div>
        <input class="position" style="display:none" name="condition-time-0-position" type="number" value="{{ order.location }}">
        <div class="form-group">
            <input readonly class="form-control-custom" type="text" value="Время авторизации">
        </div>
        <div style="display: none" class="form-group">
            <select class="form-control-custom time" id="id_form-0-run_sub" name="condition-time-0-time" title="">
                 <option value="1" selected>Время авторизации</option>
                 <option value="2">Точка доступа</option>
                 <option value="3">Кол-во посещений</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom tcondition" id="id_form-0-run_sub" name="condition-time-0-condition" title="">
                <option value="1" {% if order.condition == 1 %}selected{% endif %}>Равно</option>
                <option value="2" {% if order.condition == 2 %}selected{% endif %}>Не равно</option>
                <option value="3" {% if order.condition == 3 %}selected{% endif %}>Больше</option>
                <option value="4" {% if order.condition == 4 %}selected{% endif %}>Меньше</option>
                <option value="5" {% if order.condition == 5 %}selected{% endif %}>Больше или равно</option>
                <option value="6" {% if order.condition == 6 %}selected{% endif %}>Меньше или равно</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control-custom start_at" readonly name="condition-time-0-start_at" value="Текущее время" placeholder="Текущее время" title="" type="text">
        </div>
        <div class="form-group">
            <select class="form-control-custom plusminus" id="id_form-0-run_sub" name="condition-time-0-plusminus" title="">
                <option value="1" {% if order.plusminus == 1 %}selected{% endif %}>+</option>
                <option value="2" {% if order.plusminus == 2 %}selected{% endif %}>-</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control-custom count_time" id="id_form-0-date" value="{{ order.count_time }}" name="condition-time-0-count_time" title="" type="number">
        </div>
        <div class="form-group">
            <select class="form-control-custom dates" id="id_form-0-run_sub" name="condition-time-0-dates" title="">
                <option value="1" {% if order.dates == 1 %}selected{% endif %}>Дней</option>
                <option value="2" {% if order.dates == 2 %}selected{% endif %}>Месяцев</option>
                <option value="3" {% if order.dates == 3 %}selected{% endif %}>Лет</option>
                <option value="4" {% if order.dates == 4 %}selected{% endif %}>Часов</option>
                <option value="5" {% if order.dates == 5 %}selected{% endif %}>Минут</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom choice" id="id_form-0-run_sub" name="condition-time-0-choice" title="">
                <option value="1" {% if order.choice == 1 %}selected{% endif %}>И</option>
                <option value="2" {% if order.choice == 2 %}selected{% endif %}>ИЛИ</option>
            </select>
        </div>
        </div>

        {% endif %}

        {% if order.wifi %}

        <div class="condition condition-point">
        <div class="form-group">
            <div data-type="point" class="delete_condition">X</div>
        </div>
        <input class="position" style="display:none" name="condition-point-0-position" type="number" value="{{ order.location }}">
        <div class="form-group">
            <input readonly class="form-control-custom" type="text" value="Точка доступа">
        </div>
        <div style="display: none" class="form-group">
            <select class="form-control-custom point" id="id_form-0-run_sub" name="condition-point-0-point" title="">
                 <option value="2" selected>Точка доступа</option>
                 <option value="1">Время авторизации</option>
                 <option value="3">Кол-во посещений</option>
            </select>

        </div>
        <div class="form-group">
            <select class="form-control-custom pcondition" id="id_form-0-run_sub" name="condition-point-0-condition" title="">
                <option value="1" {% if order.condition == 1 %}selected{% endif %}>Равно</option>
                <option value="2" {% if order.condition == 2 %}selected{% endif %}>Не равно</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom wifi" id="id_form-0-run_sub" name="condition-point-0-wifi" title="">
                {% for wi in wifi %}
                    <option value="{{ wi.id }}" {% if wifi == order.wifi %}selected{% endif %}>{{ wi.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom choice" id="id_form-0-run_sub" name="condition-point-0-choice" title="">
                <option value="1" {% if order.choice == 1 %}selected{% endif %}>И</option>
                <option value="2" {% if order.choice == 2 %}selected{% endif %}>ИЛИ</option>
            </select>
        </div>
        </div>

        {% endif %}

        {% if order.count %}

        <div class="condition condition-count">
        <div class="form-group">
            <div data-type="count" class="delete_condition">X</div>
        </div>
        <input class="position" style="display:none" name="condition-count-{{ forloop.counter0 }}-position" type="number" value="{{ order.location }}">
        <div class="form-group">
            <input readonly class="form-control-custom" type="text" value="Кол-во посещений">
        </div>
        <div style="display: none" class="form-group">
            <select class="form-control-custom count" id="id_form-{{ forloop.counter0 }}-run_sub" name="condition-count-{{ forloop.counter0 }}-count" title="">
                 <option value="3" selected>Кол-во посещений</option>
                 <option value="1">Время авторизации</option>
                 <option value="2">Точка доступа</option>
            </select>

        </div>
        <div class="form-group">
            <select class="form-control-custom ccondition" id="id_form-{{ forloop.counter0 }}-run_sub" name="condition-count-{{ forloop.counter0 }}-condition" title="">
                <option value="1" {% if order.condition == 1 %}selected{% endif %}>Равно</option>
                <option value="2" {% if order.condition == 2 %}selected{% endif %}>Не равно</option>
                <option value="3" {% if order.condition == 3 %}selected{% endif %}>Больше</option>
                <option value="4" {% if order.condition == 4 %}selected{% endif %}>Меньше</option>
                <option value="5" {% if order.condition == 5 %}selected{% endif %}>Больше или равно</option>
                <option value="6" {% if order.condition == 6 %}selected{% endif %}>Меньше или равно</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control-custom mcount" id="id_form-{{ forloop.counter0 }}-date" name="condition-count-{{ forloop.counter0 }}-mcount" value="{{ order.count }}" title="" type="number">
        </div>
        <div class="form-group">
            <select class="form-control-custom choice" id="id_form-{{ forloop.counter0 }}-run_sub" name="condition-count-{{ forloop.counter0 }}-choice" title="">
                <option value="1" {% if order.choice == 1 %}selected{% endif %}>И</option>
                <option value="2" {% if order.choice == 2 %}selected{% endif %}>ИЛИ</option>
            </select>
        </div>
        </div>

        {% endif %}

{% endfor %}
</div>

        <button type="button" class="btn btn-add-condition btn-primary btn-xs" data-toggle="modal" data-target="#conditionModal">
               Добавить условие
        </button>
        <p></p>