<div  style="display: none;" class="condition__block__pattern form-inline form-condition">
        <label class="control-label">Условия</label>
        <div class="condition condition-time pattern">
        <div class="form-group">
            <div onClick="delCondition($(this))" data-type="time" class="delete_condition">X</div>
        </div>
        <input class="position" style="display:none" name="condition-time-0-position" type="number" value="1">
        <div class="form-group">
            <input readonly class="form-control-custom" type="text" value="Время авторизации">
        </div>
        <div style="display: none" class="form-group">
            <select class="form-control-custom time" id="id_form-0-run_sub" name="condition-time-0-time" title="">
                 <option value="1" selected>Время авторизации</option>
                 <option value="2">Точка доступа</option>
                 <option value="3">Кол-во посещений</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom tcondition" id="id_form-0-run_sub" name="condition-time-0-condition" title="">
                <option value="1">Равно</option>
                <option value="2">Не равно</option>
                <option value="3">Больше</option>
                <option value="4">Меньше</option>
                <option value="5">Больше или равно</option>
                <option value="6">Меньше или равно</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control-custom start_at"  name="condition-time-0-start_at" placeholder="Текущее время" title="" type="text">
        </div>
        <div class="form-group">
            <select class="form-control-custom plusminus" id="id_form-0-run_sub" name="condition-time-0-plusminus" title="">
                <option value="1">+</option>
                <option value="2">-</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control-custom count_time" id="id_form-0-date" name="condition-time-0-count_time" title="" type="number">
        </div>
        <div class="form-group">
            <select class="form-control-custom dates" id="id_form-0-run_sub" name="condition-time-0-dates" title="">
                <option value="1">Дней</option>
                <option value="2">Месяцев</option>
                <option value="3">Лет</option>
                <option value="4">Часов</option>
                <option value="5">Минут</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom choice" id="id_form-0-run_sub" name="condition-time-0-choice" title="">
                <option value="1">И</option>
                <option value="2">ИЛИ</option>
            </select>
        </div>
        </div>

        <div class="condition condition-point pattern">
        <div class="form-group">
            <div onClick="delCondition($(this))" data-type="point" class="delete_condition">X</div>
        </div>
        <input class="position" style="display:none" name="condition-point-0-position" type="number" value="2">
        <div class="form-group">
            <input readonly class="form-control-custom" type="text" value="Точка доступа">
        </div>
        <div style="display: none" class="form-group">
            <select class="form-control-custom point" id="id_form-0-run_sub" name="condition-point-0-point" title="">
                 <option value="2" selected>Точка доступа</option>
                 <option value="1">Время авторизации</option>
                 <option value="3">Кол-во посещений</option>
            </select>

        </div>
        <div class="form-group">
            <select class="form-control-custom pcondition" id="id_form-0-run_sub" name="condition-point-0-condition" title="">
                <option value="1">Равно</option>
                <option value="2">Не равно</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom wifi" id="id_form-0-run_sub" name="condition-point-0-wifi" title="">
                {% for wi in wifi %}
                    <option value="{{ wi.id }}">{{ wi.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control-custom choice" id="id_form-0-run_sub" name="condition-point-0-choice" title="">
                <option value="1">И</option>
                <option value="2">ИЛИ</option>
            </select>
        </div>
        </div>
        <div class="condition condition-count pattern">
        <div class="form-group">
            <div onClick="delCondition($(this))" data-type="count" class="delete_condition">X</div>
        </div>
        <input class="position" style="display:none" name="condition-count-0-position" type="number" value="3">
        <div class="form-group">
            <input readonly class="form-control-custom" type="text" value="Кол-во посещений">
        </div>
        <div style="display: none" class="form-group">
            <select class="form-control-custom count" id="id_form-0-run_sub" name="condition-count-0-count" title="">
                 <option value="3" selected>Кол-во посещений</option>
                 <option value="1">Время авторизации</option>
                 <option value="2">Точка доступа</option>
            </select>

        </div>
        <div class="form-group">
            <select class="form-control-custom ccondition" id="id_form-0-run_sub" name="condition-count-0-condition" title="">
                <option value="1">Равно</option>
                <option value="2">Не равно</option>
                <option value="3">Больше</option>
                <option value="4">Меньше</option>
                <option value="5">Больше или равно</option>
                <option value="6">Меньше или равно</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control-custom mcount" id="id_form-0-date" name="condition-count-0-mcount" title="" type="number">
        </div>
        <div class="form-group">
            <select class="form-control-custom choice" id="id_form-0-run_sub" name="condition-count-0-choice" title="">
                <option value="1">И</option>
                <option value="2">ИЛИ</option>
            </select>
        </div>
        </div>
        </div>