<div class="row">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">Журнал сообщений</h3>
    </div>
    <div class="panel-body">

        <div class="col-xs-6 col-md-4">
            <ul class="list-group ">
                {% for wi in wifi %}
         <a href="{% url 'phone' wi.id %}" class="list-group-item action-button list-wifi d_{{  wi.id }}" data-id="{{  wi.id }}" data-callback="ShowPhone" >{{ wi.name }}</a>

                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-6 col-md-4">
            <ul class="list-group phone__list">
            </ul>
        </div>

        <div class="col-xs-6 col-md-4">
            <ul class="list-group chat_list">

            </ul>
            <form role="form" class="ajaxify-form chat_list_form" action="" data-submit="AddMessages" method="post">
                {% csrf_token %}
                <input class="form-control" name="message" type="text">
                <button style="width:100%; margin-top:5px" class="btn btn-primary" type="submit">Отправить</button>
            </form>
        </div>

    </div>
    </div>
</div>