<div class="center__block">
<form role="form" class="ajaxify-form create_list_form" action="{% url 'create_account' %}" data-submit="CreateUser" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Номер телефона</label>
    <input type="number" class="form-control" name="phone" placeholder="Введите номер телефона">
    <p>Например: <b>9998887766</b></p>
  </div>
    <div class="nocode">
  <button type="submit" class="btn btn-primary">Запросить пароль</button>
  <p  class="btn btn-success have__pass">У меня уже есть пароль</p>
    </div>
    <div style="display: none" class="code">
  <div class="form-group">
    <label for="exampleInputEmail1">Пароль</label>
    <input type="text" class="form-control" name="code" placeholder="Введите пароль">
  </div>
  <button type="submit" class="btn btn-default">Войти</button>
    </div>
</form>
</div>