<!-- Modal -->
<div class="modal fade" id="conditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить условие</h4>
      </div>
      <div class="modal-body">
        <div class="bs-example" data-example-id="btn-variants">
    <button type="button" data-dismiss="modal" class="btn btn-time btn-success">Время авторизации</button>
    <button type="button" data-dismiss="modal" class="btn btn-point btn-success">Точка доступа</button>
    <button type="button" data-dismiss="modal" class="btn btn-count btn-success">Кол-во посещений</button>
        </div>


      </div>
    </div>
  </div>
</div>