{% load core_extra %}
{% load bootstrap3 %}


<br>

<div class="row">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">Статистика</h3>
    </div>
    <div class="panel-body">
    {% if entered %}
        <table class="table table-striped">
      <thead>
        <tr>
          <th>Точка WIFI</th>
          <th>Телефон</th>
          <th>Дата</th>
          <th>Время</th>
          <th>Кол-во посещений</th>
          <th>Последнее смс</th>
        </tr>
      </thead>
      <tbody>
        {% regroup entered by account as stats_list %}
        {% for stat in stats_list %}
        <tr>
          <th scope="row">{{ stat.grouper.id|last_wifi }}</th>
          <td>{{ stat.grouper.phone }}</td>
          <td>{{ stat.grouper.id|last_date }}</td>
          <td>{{ stat.grouper.id|last_time }}</td>
          <td>{{ stat.grouper.id|last_count }}</td>
          <td>{{ stat.grouper.id|last_message }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    {% else %}
        Пока ничего нет.
    {% endif %}
    </div>
    </div>
</div>

<br>

<div class="row">
<div class="col-md-8">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">Рассылка</h3>
    </div>
    <div class="panel-body form-body">

    <form role="form" class="ajaxify-form" data-submit="SubCallback" action="
    {% with u=request.resolver_match.url_name %}
        {% if u == 'home' %}{% url 'sub_add' %}{% endif %}
        {% if u == 'sub_edit' %}{% url 'sub_edit' sub.id %}{% endif %}
    {% endwith %}
    " method="post">

        {% csrf_token %}
        {% bootstrap_form form %}


        {% with u=request.resolver_match.url_name %}
        {% if u == 'home' %}{% include 'form_.html'%}{% endif %}
        {% if u == 'sub_edit' %}
            {% if sub.run_sub == 1 or sub.run_sub == 2 %}
                {% include 'form_.html'%}
            {% else %}
                {% include 'form_edit_.html'%}
            {% endif %}
        {% endif %}
        {% endwith %}

        {% buttons submit='OK' reset="Отменить" %}{% endbuttons %}

    </form>

    </div>


    {% include 'form.html'%}


    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">Шаблоны рассылки</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group list-subber">
        {% for subs in subscr %}
            <li data-id="{{ subs.id }}" class="list-group-item subber {% if subs.id == sub.id %}active{% endif %}">{{ subs.title }}</li>
        {% endfor %}
        </ul>
        <p>
            <button type="button" data-callback="CreateSub" class="btn btn-info action-button btn-xs">Создать</button>
            <button type="button" data-callback="EditSub" class="btn btn-success action-button btn-xs">Редактировать</button>
            <button type="button" data-callback="CopySub" class="btn btn-warning action-button btn-xs">Копировать</button>
            <button type="button" data-callback="DeleteSub" class="btn btn-danger btn-sub-delete action-button btn-xs">Удалить</button>
        </p>
    </div>
    </div>
</div>
</div>
<br>
{% include 'journal.html' %}
{% include 'popup.html' %}